// GitHub:
img.rounded-2 {
  display: none;
}

.vcard-fullname {
  display: none;
}

img.timeline-comment-avatar {
  display: none;
}

.discussion-item img.avatar {
  display: none;
}

.participant-avatar img.avatar {
  display: none;
}
